body {
  width: 100%;
}

// .containerr .mid-line-containerr {
//   grid-area: 2 / 2 / 5 / -2;
//   //   background-color: yellow;
//   z-index: 99999999999999999999999999999999999999999999999;

//   @include flex($gp: 0);

//   & > div {
//     width: 33.33%;
//     // background-color: orange;

//     &:nth-of-type(1) {
//       border-left: 0.5px solid yellow;
//     }

//     &:nth-of-type(2) {
//       border-left: 0.5px solid yellow;
//       border-right: 0.5px solid yellow;
//     }

//     &:nth-of-type(3) {
//       border-right: 0.5px solid yellow;
//     }
//   }
// }

// .containerr .mid-line-containerr {
//   grid-area: 2 / 2 / 6 / -2;
//   position: absolute;
//   //   top: 0;
//   //   left: 50%;
//   //   transform: translateX(-50%);

//   width: 100%;
//   max-width: 870px;
//   //   height: 100%;
//   border: 0.5px solid #535252;
//   border-top: 0;
//   border-bottom: 0;
//   //   z-index: 1000000;
//   z-index: 1;

//   //   top: 89px;
//   //   height: calc(100% - 89px);
//   height: 100%;
//   @include flex($gp: 0px);

//   & > div {
//     width: 33.33%;

//     &:nth-of-type(1) {
//       border-left: 0.5px solid #535252;
//     }

//     &:nth-of-type(2) {
//       border-left: 0.5px solid #535252;
//       border-right: 0.5px solid #535252;
//     }

//     &:nth-of-type(3) {
//       border-right: 0.5px solid #535252;
//     }
//   }
// }

// .containerr .mid-line-containerr {
//   position: absolute;
//   //   top: 0;
//   left: 50%;
//   transform: translateX(-50%);

//   width: 100%;
//   max-width: 870px;
//   //   height: 100%;
//   border: 0.5px solid #535252;
//   border-top: 0;
//   border-bottom: 0;
//   //   z-index: 1000000;
//   z-index: 1;

//   top: 89px;
//   height: calc(100% - 89px);
//   @include flex($gp: 0px);

//   & > div {
//     width: 33.33%;
//     border-right: 0.5px solid #535252;

//     position: relative;

//     // .img1 {
//     //   position: absolute;
//     //   top: 1683px;
//     //   left: 0px;
//     //   transform: translateX(-50%);
//     // }

//     // .img2 {
//     //   position: absolute;
//     //   top: 2960px;
//     //   left: 0px;
//     //   transform: translateX(-50%);
//     // }

//     // .img3-1 {
//     //   position: absolute;
//     //   top: 5327px;
//     //   left: 0px;
//     //   transform: translateX(-50%);
//     // }

//     // .img3-2 {
//     //   position: absolute;
//     //   top: 5327px;
//     //   right: 0px;
//     //   transform: translateX(50%);
//     // }

//     &:nth-of-type(3) {
//       border-right: 0;
//     }
//   }
// }

.containerr .mid-line-containerr {
  //   grid-area: 2 / 2 / 6 / -2;

  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  height: 5960px;
  width: 100%;
  max-width: 871px;
  //   background-image: url("../images/background-lines.png");
  background-image: url("../images/background-lines-light.png");

  @media only screen and (max-width: 870px) {
    background-image: none;
  }

  @media only screen and (max-width: 375px) {
    background-image: url("../images/background-lines-light--mobile.png");
    max-width: 376px;
  }
}

.home .containerr .mid-line-containerr {
  height: 5870px;
}

.about-us .containerr .mid-line-containerr {
  height: 4850px;
}

.capabilities .containerr .mid-line-containerr {
  height: 4220px;
}

.solutions .containerr .mid-line-containerr {
  height: 4540px;
}

.technology .containerr .mid-line-containerr {
  height: 4660px;
}

.home .containerr {
  position: relative;
  @include grid;

  background-color: #000;

  header {
    grid-area: 1 / 2 / 2 / -2;
    z-index: 10000022342;
  }
  & > section {
    &.banner {
      grid-area: 2 / 1 / 3 / -1;

      margin-top: -100px;
    }
    &.about-dsilo {
      grid-area: 3 / 2 / 4 / -1;
    }
    &.benefits {
      grid-area: 4 / 1 / 5 / -1;
    }
    &.just-video {
      grid-area: 5 / 1 / 6 / -1;
    }
    &.solutions {
      grid-area: 6 / 1 / 7 / -1;
    }
    &.platform {
      grid-area: 7 / 2 / 8 / -2;
    }
    &.technology {
      grid-area: 8 / 2 / 9 / -2;
    }
    &.testimonials {
      grid-area: 9 / 1 / 10 / -1;
      margin-top: -100px;
    }
  }
  footer {
    grid-area: 10 / 1 / 11 / -1;
    margin-top: -100px;
    z-index: 1000001;
  }
}

.technology .containerr {
  position: relative;
  @include grid;

  background-color: #000;

  header {
    grid-area: 1 / 2 / 2 / -2;
    z-index: 10000022342;
  }

  & > section {
    &.technology-banner {
      grid-area: 2 / 2 / 3 / -2;
    }

    &.unnamed-section {
      //   grid-area: 3 / 2 / 4 / -2; new comment
      grid-area: 3 / 1 / 4 / -1;
    }
  }

  footer {
    grid-area: 4 / 1 / 5 / -1;
    z-index: 1000001;
  }
}

.about-us .containerr {
  position: relative;
  @include grid;

  background-color: #000;

  header {
    grid-area: 1 / 2 / 2 / -2;
    z-index: 10000022342;
  }

  & > section {
    &.about-us-banner {
      grid-area: 2 / 2 / 3 / -2;
      margin-top: -100px;
    }

    &.our-purpose {
      //   grid-area: 3 / 2 / 4 / -2; new comment
      grid-area: 3 / 1 / 4 / -1;
      margin-top: -100px;
    }

    &.our-values {
      //   grid-area: 4 / 2 / 5 / -2; new comment
      grid-area: 4 / 1 / 5 / -1;
    }

    &.leadership-team {
      //   grid-area: 5 / 2 / 6 / -2; new comment
      grid-area: 5 / 1 / 6 / -1;
    }

    &.our-advisors {
      //   grid-area: 6 / 2 / 7 / -2; new comment
      grid-area: 6 / 1 / 7 / -1;
    }

    &.our-story {
      //   grid-area: 7 / 2 / 8 / -2; new comment
      grid-area: 7 / 1 / 8 / -1;
    }
  }

  footer {
    grid-area: 8 / 1 / 9 / -1;
    z-index: 1000001;
  }
}

.solutions .containerr {
  position: relative;
  @include grid;

  background-color: #000;

  header {
    grid-area: 1 / 2 / 2 / -2;
    z-index: 10000022342;
  }

  & > section {
    &.solutions-banner {
      grid-area: 2 / 1 / 3 / -1;
      margin-top: -189px;
    }

    &.document-insights-extraction {
      //   grid-area: 3 / 2 / 4 / -2; new comment
      grid-area: 3 / 1 / 4 / -1;
    }

    &.contract-value-performance {
      //   grid-area: 4 / 2 / 5 / -2; new comment
      grid-area: 4 / 1 / 5 / -1;
    }

    &.smart-compliance-and-risk {
      //   grid-area: 5 / 2 / 6 / -2; new comment
      grid-area: 5 / 1 / 6 / -1;
    }
  }

  footer {
    grid-area: 6 / 1 / 7 / -1;
    z-index: 1000001;
  }
}

.capabilities .containerr {
  position: relative;
  @include grid;

  background-color: #000;

  header {
    grid-area: 1 / 2 / 2 / -2;
    z-index: 10000022342;
  }

  & > section {
    &.capabilities-banner {
      grid-area: 2 / 2 / 3 / -2;
      margin-top: -100px;
    }

    &.ai-platform {
      grid-area: 3 / 2 / 4 / -2;
    }

    &.capabilities {
      //   grid-area: 4 / 2 / 5 / -2; new comment
      grid-area: 4 / 1 / 5 / -1;

      &.capabilities2 {
        // grid-area: 5 / 2 / 6 / -2; new comment
        grid-area: 5 / 1 / 6 / -1;
      }
    }
  }

  footer {
    grid-area: 6 / 1 / 7 / -1;
    z-index: 1000001;
  }
}
