.about-us-banner {
  & > div.about-us-banner-container {
    max-width: 870px;
    margin: 0 auto;
    color: $text-color;
    padding-top: 160px;

    @include flex($jc: center);

    // background-color: blue;

    background-image: url("../../assets/images/about-us-banner-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 590px;

    > div:nth-of-type(1) {
      @include smallcaps;
    }
  }
}
