.ai-platform {
  color: $text-color;

  @include grid($gtc: repeat(8, 1fr));

  & > div:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 5;

    padding-top: 80px;
    padding-bottom: 80px;

    @include flex(column, $gp: 16px);

    div.smallcaps {
      @include smallcaps;
    }

    & > div:nth-of-type(2) {
      @include flex(column, $ai: flex-start);

      & > div:nth-of-type(1) {
        @include flex($ai: flex-start);

        p {
          position: relative;
          top: -14px;
        }
      }
    }
    h3 {
      @include h3big;
      font-size: 34px;
      line-height: 44px;
    }

    p {
      @include p;
    }
  }

  & > div:nth-of-type(2) {
    grid-area: 1 / 5 / 2 / 9;
    position: relative;

    img {
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      height: 100%;
      max-height: 465px;
    }
  }
}
