.capabilities-banner {
  background-image: url("../../assets/images/capabilities-container.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  & > div.capabilities-banner-container {
    max-width: 870px;
    margin: 0 auto;
    color: $text-color;
    padding-top: 160px;

    @include flex(column, $ai: center);

    // background-color: blue;

    height: 590px;

    > div:nth-of-type(1),
    > div:nth-of-type(2) {
      @include smallcaps;
    }
  }
}
