.document-insights-extraction {
  & > div.document-insights-extraction-container {
    max-width: 870px;
    margin: 0 auto;

    // background-color: blue;

    color: $text-color;
    @include flex(column, $gp: 130px);

    & > div:nth-of-type(1) {
      //   @include flex($gp: 27px, $ai: flex-end); new comment
      @include flex($gp: 0, $ai: flex-end);
      //   padding-left: 20px; new comment
      padding-left: 0;
      //   padding-right: 20px; new comment
      padding-right: 0;

      & > div:nth-of-type(1) {
        @include flex(column, $gp: 16px, $ai: flex-start);
        flex-basis: calc((100% - 27px) / 2);
        // flex-grow: 1;
        padding-left: 20px;

        h3 {
          @include h2;

          //   font-size: 24px;
          //   line-height: 36px;

          position: relative;

          img {
            position: absolute;
            top: 3px;
            left: -33px;

            width: 24px;

            &:nth-child(1) {
              left: -32px;
            }
          }
        }

        h4 {
          @include h4;
        }

        p {
          @include p;
        }
      }

      & > div:nth-of-type(2) {
        flex-basis: calc((100% - 27px) / 2);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    & > div:nth-of-type(2) {
      @include flex($gp: 40px);
      @include flex($gp: 0);
      //   padding-left: 20px; new comment
      padding-left: 0;
      //   padding-right: 20px; new comment
      padding-right: 0;

      & > div {
        @include flex(column, $gp: 16px, $ai: flex-start);
        // flex-basis: calc((100% - 80px) / 3); new comment
        flex-basis: 33.33%;
        padding-left: 20px;
        padding-right: 20px;
        // flex-grow: 1; new comment

        h3 {
          @include h4;

          //   font-size: 24px;
          //   line-height: 36px;

          position: relative;

          img {
            position: absolute;
            top: 3px;
            left: -33px;

            &:nth-child(1) {
              left: -32px;
            }
          }
        }

        p {
          @include p;
        }
      }
    }
  }
}
