.our-values {
  & > div.our-values-container {
    max-width: 870px;
    margin: 0 auto;

    // background-color: blue;

    color: $text-color;

    @include flex(column, $gp: 40px);

    & > div:nth-of-type(1) {
      //   @include flex($gp: 40px); new comment
      @include flex($gp: 0);
      //   padding-left: 20px; new comment
      padding-left: 0;
      //   padding-right: 20px; new comment
      padding-right: 0;

      & > div {
        @include flex(column, $gp: 16px, $ai: flex-start);
        // flex-basis: calc(((100% - 80px) / 3) * 2); new comment
        flex-basis: 66.66%;
        padding-left: 20px;
        padding-right: 20px;
        // flex-grow: 1;

        h3 {
          @include smallcaps;

          font-size: 24px;
          line-height: 36px;

          position: relative;

          img {
            position: absolute;
            top: 3px;
            left: -33px;

            &:nth-child(1) {
              left: -32px;
            }
          }
        }
      }
    }

    & > div:nth-of-type(2) {
      //   @include flex($gp: 40px); new comment
      @include flex($gp: 0);
      //   padding-left: 20px; new comment
      padding-left: 0;
      //   padding-right: 20px; new comment
      padding-right: 0;

      & > div {
        @include flex(column, $gp: 30px, $ai: flex-start);
        // flex-basis: calc((100% - 80px) / 3); new comment
        flex-basis: 33.33%;
        padding-left: 20px;
        padding-right: 20px;
        // flex-grow: 1; new comment

        h3 {
          @include h3;

          font-size: 24px;
          line-height: 36px;

          position: relative;

          img {
            position: absolute;
            top: 3px;
            left: -33px;

            &:nth-child(1) {
              left: -32px;
            }
          }
        }

        p {
          @include p;
        }
      }
    }
  }
}
