.solutions-banner {
  min-height: 600px;

  background-image: url("../../assets/images/solutions-banner-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & > div.solutions-banner-container {
    max-width: 870px;
    margin: 0 auto;

    color: $text-color;
    padding-top: 189px;

    @include flex(column, $gp: 48px);

    & > div:nth-of-type(1) {
      @include flex(column, $gp: 48px);
      padding-left: 20px;

      & > div:first-of-type {
        max-width: 376px;

        @include flex(column, $ai: flex-start);

        h3 {
          @include smallcaps;
          font-size: 22px;

          position: relative;

          img {
            position: absolute;
            top: 3px;
            left: -32px;
          }
        }

        p {
          @include p;
        }
      }
    }

    & > div:nth-of-type(2) {
      @include flex($gp: 40px);
      padding-left: 20px;
      padding-right: 20px;

      & > div {
        @include flex(column, $gp: 16px, $ai: flex-start);
        flex-basis: calc((100% - 80px) / 3);
        flex-grow: 1;

        h3 {
          @include h3;

          font-size: 24px;
          line-height: 36px;

          position: relative;

          img {
            position: absolute;
            top: 3px;
            left: -33px;
            width: 24px;

            &:nth-child(1) {
              left: -32px;
            }
          }
        }

        p {
          @include p;
        }
      }
    }
  }
}
