.technology-banner {
  color: $text-color;

  @include grid($gtc: repeat(8, 1fr));

  & > div:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 4;

    padding-top: 140px;
    padding-bottom: 140px;

    @include flex(column, $gp: 8px);

    div.bigcaps {
      @include bigcaps;
    }

    & > div:nth-of-type(2) {
      @include flex(column, $gp: 48px);

      & > div:nth-of-type(1) {
        @include flex($ai: flex-start);
      }
    }
    h3 {
      @include h3big;
    }

    p {
      @include p;
      max-width: 338px;

      img {
        margin-right: 16px;
        position: relative;
        top: -5px;
      }
    }
  }

  & > div:nth-of-type(2) {
    grid-area: 1 / 4 / 2 / 9;
    position: relative;

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }
}
