.about-us-banner {
  & > div.about-us-banner-container {
    max-width: 870px;

    @media only screen and (min-width: 700px) and (max-width: 870px) {
      max-width: 670px;
    }

    @media only screen and (min-width: 540px) and (max-width: 700px) {
      max-width: 540px;
    }

    @media only screen and (min-width: 375px) and (max-width: 540px) {
      max-width: 375px;
    }

    @media only screen and (max-width: 375px) {
      max-width: 300px;
    }

    margin: 0 auto;
    color: $text-color;
    padding-top: 160px;

    @include flex($jc: center);

    // background-color: blue;

    background-image: url("../../assets/images/about-us-banner-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 590px;

    > div:nth-of-type(1) {
      @include smallcaps;
    }
  }
}
