.benefits {
  & > div.benefits-container {
    max-width: 870px;

    @media only screen and (min-width: 700px) and (max-width: 870px) {
      max-width: 670px;
    }

    @media only screen and (min-width: 540px) and (max-width: 700px) {
      max-width: 540px;
    }

    @media only screen and (min-width: 375px) and (max-width: 540px) {
      max-width: 375px;
    }

    @media only screen and (max-width: 375px) {
      max-width: 300px;
    }

    margin: 0 auto;

    // background-color: blue;

    color: $text-color;
    @include flex(column, $gp: 72px);

    & > div:nth-of-type(1) {
      @include flex(column, $ai: center);
      .smallcaps {
        @include smallcaps;
        text-align: center;
      }
      p {
        @include p;
        text-align: center;
        max-width: 350px;
      }
    }

    & > div:nth-of-type(2) {
      //   @include flex($gp: 40px); new comment
      @include flex($gp: 0);
      @media only screen and (max-width: 767.98px) {
        @include flex(column, $gp: 72px);
      }

      flex-wrap: wrap;

      //   padding-left: 20px; new comment
      //   padding-right: 20px; new comment

      & > div {
        @include flex(column, $gp: 30px, $ai: flex-start);
        // flex-basis: calc((100% - 80px) / 3); new comment
        // flex-basis: calc((870px - 80px) / 3); new comment
        flex-basis: 33.33%;
        // flex-grow: 1; new comment
        // new code
        padding-left: 20px;
        padding-right: 20px;

        h3 {
          @include h3;

          font-size: 24px;
          line-height: 36px;

          position: relative;

          img {
            position: absolute;
            top: 3px;
            left: -33px;

            &:nth-child(1) {
              left: -32px;
            }
          }
        }

        p {
          @include p;
        }
      }
    }
  }
}
