// Typography styles
@mixin h1 {
  font-size: 68px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

@mixin h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}

@mixin h3big {
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
}

@mixin h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

@mixin p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}

@mixin pbig {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

@mixin smallcaps {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@mixin bigcaps {
  font-size: 48px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

@mixin placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}
